AZURE_TENANT_ID=9692a3d3-2a08-4ec8-a0bd-1db355eb4230
AZURE_OPENAI_ENDPOINT=https://ddq-rag-aoai-dev.openai.azure.com/
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large
AZURE_ASSISTANT_ID=asst_YFGQJjc03LNybigjhxq4B2RX
